
/**
Load custom font - Gilmer
 */
@font-face {
    font-family: 'Gilmer-Bold';
    src: url('../fonts/Gilmer/Gilmer-Bold.otf');
}
@font-face {
    font-family: 'Gilmer-Heavy';
    src: url('../fonts/Gilmer/Gilmer-Heavy.otf');
}
@font-face {
    font-family: 'Gilmer-Light';
    src: url('../fonts/Gilmer/Gilmer-Light.otf');
}
@font-face {
    font-family: 'Gilmer-Medium';
    src: url('../fonts/Gilmer/Gilmer-Medium.otf');
}
@font-face {
    font-family: 'Gilmer-Outline';
    src: url('../fonts/Gilmer/Gilmer-Outline.otf');
}
@font-face {
    font-family: 'Gilmer-Regular';
    src: url('../fonts/Gilmer/Gilmer-Regular.otf');
}
